[project]
name = "capytaine"
version = "2.0.dev0"
description = "Python BEM solver for linear potential flow, based on Nemoh"
authors = [{name = "Matthieu Ancellin", email = "matthieu.ancellin@eurobios.com"}]
requires-python = ">=3.7"
dependencies = ["numpy", "scipy", "pandas>=1.3", "xarray"]
urls = {repository = "https://github.com/capytaine/capytaine"}
readme = "README.md"
license = {file = "LICENSE"}
scripts = {capytaine = "capytaine.ui.cli:main"}


[project.optional-dependencies]
ci = ["pytest", "hypothesis"]

[build-system]
build-backend = 'mesonpy'
# requires = ["meson-python", "oldest-supported-numpy", "charset-normalizer"]
requires = ["meson-python", "numpy>=1.22", "charset-normalizer"]

