[project]
name = "capytaine"
description = "Python BEM solver for linear potential flow, based on Nemoh"
authors = [{name = "Matthieu Ancellin", email = "matthieu.ancellin@eurobios.com"}]
requires-python = ">=3.7"
dependencies = ["numpy", "scipy", "pandas>=1.3", "xarray", "rich"]
urls = {repository = "https://github.com/capytaine/capytaine"}
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
  "Programming Language :: Python",
  "Programming Language :: Fortran",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
  "Topic :: Scientific/Engineering",
]
scripts = {capytaine = "capytaine.ui.cli:main"}

dynamic = ['version']

[project.optional-dependencies]
ci = ["pytest", "hypothesis"]

[build-system]
build-backend = 'mesonpy'
requires = ["meson-python", "oldest-supported-numpy", "charset-normalizer"]

[tool.cibuildwheel]
test-requires = ["pytest", "hypothesis"]
test-command = "pytest {project}/pytest/"
