name: Build and test in fixed environments

# on:
#   push:
#     branches:
#       - 'master'
#     paths-ignore:
#       # Do not run if only the documentation has been changed
#       - 'docs/**'
#       - '**/*.md'
#   pull_request:
#     paths-ignore:
#       # Do not run if only the documentation has been changed
#       - 'docs/**'
#       - '**/*.md'

env:
  FORCE_COLOR: 3
  # Colors for nox

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.8', '3.11']

    steps:

    - name: Checkout repository and submodules
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up nox
      uses: wntrblm/nox@2024.03.02

    - name: Run nox session
      run: nox -s build_and_test_on_locked_env
