name: Build and run test suite

on:
  pull_request:
    paths-ignore:
      # Do not run if only the documentation has been changed
      - 'docs/**'
      - '**/*.md'

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.10']
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
          submodules: recursive
    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: pip install .[ci]
    - name: Test
      run: pytest
    - name: Import installed library
      run: cd /tmp/ && python -c 'import capytaine; print(capytaine.__version__)'
    - name: Call command line tool
      run: cd /tmp/ && capytaine
